@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 728px;
    margin: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/************************
        Nav
************************/

header {
    background: #334450;
    display: none;
}

nav {
    float: right;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

a {
    color: #EE5E63;
    text-decoration: none;
    transition: .5s ease-in all;
}

a:hover {
    color: #333;
}

/************************
        Intro
************************/

.intro {
    background: #334450;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.intro-container {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: #fff;
    text-align: center;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s ease-in 8s forwards;
}

.intro h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 12px;
}

.intro h1 span {
    color: #EE5E63;
}

.intro h2 {
    text-transform: uppercase;
}

.intro h2:after {
    content: '';
    height: 3px;
    width: 100px;
    background: #EE5E63;
    display: block;
    margin: 30px auto;
}

/************************
        Logo
************************/

.intro .logo {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: visible;
    animation: fadeOut 1s ease-in 8s forwards;
}

.st0{fill:#CD5155;}
.st1{fill:#DE5A5D;}
.st2{fill:#E75D60;}
.st3{fill:#F16367;}
.st4{fill:#ED5F63;}
.st5{fill:#D75659;}
.st6{fill:#FFFFFF;}

.logo-container {
    width: 100%;
    height: 100%;
    overflow: visible !important;
    margin: auto;
    animation: logoRotate 4s ease-in 1 forwards;
}

.logo g, .logo svg {
    overflow: visible !important;
}


#logo-white {
    animation: logoWhite 1s ease-in 4s 1 forwards;
    transform-origin: center center;
    opacity: 0;
}

#backgroundPolygons {
    transform-origin: center center;
}

#backgroundPolygons polygon, #backgroundPolygons path {
    transform-origin: center center;
}



/************************
        Polygons
************************/

#poly1 {
    animation: poly1 4s ease-in 1 forwards;
}

@keyframes poly1 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(-1000%, 0);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly2 {
    animation: poly2 4s ease-in 1 forwards;
}

@keyframes poly2 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(0%, -1200%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly3 {
    animation: poly3 4s ease-in 1 forwards;
}

@keyframes poly3 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(-300%, 0%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly4 {
    animation: poly4 4s ease-in 1 forwards;
}

@keyframes poly4 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(-300%, 0%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly5 {
    animation: poly5 4s ease-in 1 forwards;
}

@keyframes poly5 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(500%, 200%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly6 {
    animation: poly6 4s ease-in 1 forwards;
}

@keyframes poly6 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(-1500%, 700%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly7 {
    animation: poly7 4s ease-in 1 forwards;
}

@keyframes poly7 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(300%, 100%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly8 {
    animation: poly8 4s ease-in 1 forwards;
}

@keyframes poly8 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(-200%, 100%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly9 {
    animation: poly9 4s ease-in 1 forwards;
}

@keyframes poly9 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(900%, -1900%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly10 {
    animation: poly10 4s ease-in 1 forwards;
}

@keyframes poly10 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(-2000%, -3600%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly11 {
    animation: poly11 4s ease-in 1 forwards;
}

@keyframes poly11 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(0%, -800%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly12 {
    animation: poly12 4s ease-in 1 forwards;
}

@keyframes poly12 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(300%, -200%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly13 {
    animation: poly13 4s ease-in 1 forwards;
}

@keyframes poly13 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(400%, -500%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly14 {
    animation: poly14 4s ease-in 1 forwards;
}

@keyframes poly14 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(2800%, 500%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}

#poly15 {
    animation: poly15 4s ease-in 1 forwards;
}

@keyframes poly15 {
    0% {
        transform: rotate(-180deg) scale(.1) translate(700%, 500%);
    }
    50% {
        transform: scale(.1);
    }
    100% {
        transform: rotate(0) scale(1) translate(0,0);
    }
}


@keyframes logoRotate {
    0% {
        transform: rotate(-360deg) scale(1);
        opacity: 0;
    }
    35% {
        opacity: 1;
    }
    100% {
        transform: rotate(0deg) scale(.3);
        opacity: 1
    }
}


@keyframes logoWhite {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.3) translateY(100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/************************
        About
************************/

.about {
    width: 100%;
    padding: 100px 0;
    background: #333;
    color: #fff;
}

.about-left {
    width: 67%;
    float: left;
    margin-top: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

.about-left p {
    line-height: 26px;
}

.about-right {
    width: 33%;
    float: left;
    margin-top: 50px;
}

.about-right img {
    max-width: 100%;
    margin: auto;
    display: block;
}

/************************
        Contact
************************/

.contact {
    width: 100%;
    padding: 30px 0;
    background: #EE5E63;
    color: #fff;
    transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}

.contact-button {
    display: block;
    margin: auto;
    width: 100%;
}

.contact-button .contact:hover {
    background: #334450;
}

.contact .contact-text {
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.contact .contact-text i {
    margin-right: 30px;
}

/************************
        Work
************************/

.work {
    width: 100%;
    padding: 100px 0 0;
    background: #fff;
    color: #333;
}

.work h2 {
    color: #333;
    border-bottom: 3px solid #EE5E63;
    margin-bottom: 30px;
    display: inline;
}

.work .portfolio-container {
    margin: 100px 0;
}

.work a {
    color: #333;
    display: block;
    margin: 40px 0;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    /*border-bottom: 6px solid #333;*/
}

.work a:hover {
    color: #EE5E63;
    /*border-bottom: 6px solid #EE5E63;*/
}

/************************
        Skills
************************/

.skills {
    width: 100%;
    padding: 100px 0;
    background: #333;
    color: #fff;
}

.skills h2,
.jobs h2,
.about h2 {
    color: #fff;
    border-bottom: 3px solid #EE5E63;
    margin-bottom: 30px;
    display: inline;
}

.skills .tech-container {
    margin-top: 50px;
}

.skills h3 {
    text-transform: uppercase;
}

.skills .third {
    width: 40%;
    float: left;
}

.skills .two-thirds {
    width: 50%;
    float: right;
}

.skills .half {
    width: 50%;
    float: left;
    margin-top: 50px;
}

.skills .development {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skills .development li {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    float: left;
    font-size: 12px;
    margin: 10px 10px 0 0;
    text-align: center;
    line-height: 82px;
    transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}

.skills .development li:hover {
    background: #EE5E63;
}

.skills .tools,
.skills .languages {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skills .design {
    margin: 0;
    padding: 0;
}

.skills .design li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

.skills .design li img {
    width: 50px;
}

.skills i {
    margin-right: 10px;
}

.skills h3 i {
    font-size: 30px;
}

/************************
        Jobs
************************/
.jobs {
    width: 100%;
    padding: 100px 0;
    background: #334450;
}

.job-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin-bottom: 40px;
    margin-top: 50px;
}

.job {
    width: 50%;
    clear: both;
    position: relative;
    box-sizing: border-box;
}

.job:after {
    content: '';
    position: absolute;
    top: calc(50% - 14px);
    width: 16px;
    height: 16px;
    border: 6px solid #fff;
    border-radius: 50%;
    background: #334450;
    transition: .5s ease-in all;
}

.job:nth-of-type(even) {
    float: left;
}

.job:nth-of-type(odd) {
    float: right;
}

.job:nth-of-type(even):after {
    right: -14px;
}

.job:nth-of-type(odd):after {
    left: -14px;
}

.job-content {
    width: 70%;
    text-align: center;
    background: #fff;
    position: relative;
    padding: 20px;
    z-index: 2;
    box-sizing: border-box;
    line-height: 24px;
}

.job:hover:after {
    background: #EE5E63;
}

.job-content:after {
    content: '';
    height: 30px;
    width: 30px;
    background: #fff;
    display: block;
    transform: rotate(45deg);
    top: calc(50% - 15px);
    right: -5px;
    position: absolute;
    z-index: 1;
}

.job:nth-of-type(odd) .job-content:after {
    left: -5px;
}

.job-content img {
    margin: auto;
    display: block;
    max-width: 100%;
}

.job:nth-of-type(even) .job-content {
    float: left;
}

.job:nth-of-type(odd) .job-content {
    float: right;
}

.job-line {
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    width: 2px;
    height: 100%;
    background: #EE5E63;
}

.job .position {
    font-weight: bold;
    margin-top: 20px;
}

/************************
        Footer
************************/

footer {
    clear: both;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    background: #fff;
}

footer ul {
    margin: 0 0 30px;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
}

footer ul li a {
    font-size: 40px;
    margin: 0 20px;
}

/************************
        Animations
************************/

@-moz-keyframes pulse { 100% { -moz-transform: scale(1.1,1.1) translateX(-50%); } }
@-webkit-keyframes pulse { 100% { -webkit-transform: scale(1.1,1.1) translateX(-50%); } }
@keyframes pulse { 100% { -webkit-transform: scale(1.1,1.1) translateX(-50%); transform:scale(1.1,1.1) translateX(-50%); } }

/************************
        Mobile
************************/
@media (max-width: 767px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .skills .half {
        width: 100%;
        clear: both;
        float: none;
    }
    .skills .third {
        width: 100%;
        clear: both;
        float: none;
    }
    .skills .two-thirds {
        width: 100%;
        clear: both;
        float: none;
        padding-top: 40px;
    }

    .job-line {
        display: none;
    }

    .job-content:after {
        display: none;
    }

    .job:after {
        display: none;
    }

    .job {
        width: 100%;
        margin: 15px 0;
    }

    .job-content {
        width: 100%;
    }

    .job-content img {
        max-width: 300px;
    }

    .intro-container {
        max-width: 90%;
        margin-left: 0 !important;
    }

    .about-left,
    .about-right {
        width: 100%;
        float: none;
    }
}
